!!! 5
%html
  %head
    %title SoundcloudSocial
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Lobster:regular&subset=latin'
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
    -#= stylesheet_link_tag :all
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"
    = javascript_include_tag "rails", "application"
    = csrf_meta_tag
%body
  .container
    .two-col
      #content
        = yield
      #footer
        %a#about If you dont get it, click here! (FAQ and About)

  #about-box
    %a#close.close X
    %h1 SoundCloud Social
    %h2 Listen and Chat together
    %h3
      On
      %strong SoundCloud Social
      you can
      %strong listen
      to
      %a{:href => "http://soundcloud.com"}SoundCloud
      tracks together and chat in realtime about it.
    #built-by
      %p
        Built by
        %a{:href => "http://www.freenerd.de"}Johan Uhle
        after the idea by and help of
        %a{:href => "http://twitter.com/nils_westerlund"} Nils Westerlund
      %p
        Major parts have been written at the
        %a{:href => "http://bcn.musichackday.org/"} Music Hack Day Barcelona
        in autumn 2010.
      %p
        If you want to learn more about the project,
        %a{:href => "http://www.twitter.com/souncloudsocial"}
          %strong follow us on Twitter
        and check the
        %a{:href => "http://github.com/freenerd/soundcloud-social/"}repository on GitHub
