<!DOCTYPE html>
<html>
<head>
  <title>SoundcloudSocial</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" %>
  <%= javascript_include_tag "rails" %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
